body {
    background-image: url(paper.JPG);
    font-family: Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
  
  
  h1 {
    margin: 0;
    padding: 0;
    border-bottom: black solid;
    position:sticky;
  }
  
  .title_img{
    position: relative;
    display:inline-flex;
  }

  nav {
    float: right;
  }
  
  nav a {
    
    color: rgb(12, 5, 5);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: rgb(161, 32, 32);
  }
  
  nav li ul {
    display: none; /* hide the sub-menu by default */
    background-color: #f2f2f2; /* add a background color for the sub-menu */
    padding: 10px; /* add some padding for the sub-menu */
    border: 1px solid #ccc; /* add a border for the sub-menu */
    position: absolute; /* position the sub-menu absolute */
    z-index: 1; /* set a z-index to make sure the sub-menu is on top of other elements */
  }
  
  nav li:hover ul { /* show the sub-menu when the parent menu is hovered */
    display: block;
  }
  
  nav li ul li { /* style the sub-menu items */
    display: block; /* display the sub-menu items as block elements */
    padding: 5px; /* add some padding for the sub-menu items */
  }
  
  nav li ul li a { /* style the sub-menu links */
    color: #333; /* set the text color for the sub-menu links */
    text-decoration: none; /* remove the underline for the sub-menu links */
  }
  
  nav li ul li a:hover { /* add a hover effect for the sub-menu links */
    background-color: #ddd; /* change the background color of the sub-menu links when hovered */
  }
  
  
 
  #main-content img {
    position: relative;
    max-width: 100%;
    border-radius: 15%;
  }
  
  .title_mount{
   
   max-width: 50%;
    
  }
 
  
  footer {
    background-color: rgb(74, 110, 20);
    color: #fff;
    padding: 10px;
    text-align: center;
  }


 

h1 {
    font-size: 24px; /* sets the font size of the h1 */
    text-align: center; /* centers the h1 */
    margin-bottom: 20px; /* adds margin at the bottom of the h1 */
}

h2{} /* the man, the smith, the ledge link to twitter page*/
h3{} /* importance of sustainable sustain ... link to article */
h4{} /* latest articles header -- no link -- top of unordered list */
